<% @services.each do |service| %>
  <div class = "service">
    <h3>
      <li><%= service.name %> </li>
      <li><%= service.socks_per_month %></li>
      <li><%= service.cost %> </li>
    </h3>
  </li>
  </div>
<% end %>

<h1>User Personal Information</h1>
<form method="POST" action='/customers/checkout'>
  
  <label>Name:</label>
  <input type="text" name="name">
  
  <label>Email:</label>
  <input type="text" name="email" value="<%= @user && @user.email %>">

  <label>Password:</label>
  <input type="text" name="password" value="<%= @user && @user.password %>">

  <label>Password Confirmation:</label>
  <input type="text" name="password_confirmation">

  <label>Phone:</label>
  <input type="text" name="phone">

  <label>Address:</label>
  <input type="text" name="address">

  <label>City:</label>
  <input type="text" name="city">

  <label>Postal Code:</label>
  <input type="text" name="postalcode">

  <a href="/pay">Continue</a>

  <a href="/logout">Log out</a>

</form>