<h1>Your Order Summary</h1>
<hr></hr>
<% @services.each do |service| %>
<div class = "service">
  <h3>
    <li><%= service.name %> </li>
    <li><%= service.socks_per_month %></li>
    <li><%= service.cost %> </li>
  </h3>
</div>
<% @service_cost = service.name.cost %>
<p> Item cost: <%= @service_cost %> </p>
<p>  Total cost: <%= @service_cost * 0.15 %> </p>
<% end %>


