

<div class="navbar navbar-inverse" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" id = "menu-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

  </div>
</div>





    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">


            <ul class="sidebar-nav">
                <li>


                <img src="/assets/icon.png" style=" width:120px;
                                                height:120px;
                                                padding: 20px;
                                                background-color:white;
                                                border-radius: 60px;
                                                margin-top:10px;
                                                margin-left: 15%;
                                                "></img></li>




                <li class="sidebar-brand">
                    <a id="main_page">
                        Welcome Back, <%= @user.name %>
                    </a>

                    <br><br>
                </li>
                <li>
                    <a id = "link_profile">Profile</a>
                </li>
                <li>
                    <a id = "edship">Edit Shipping</a>
                </li>
                <li>
                    <a id = "edorder">Edit Order</a>
                </li>
                <li>
                    <a id = "viewhist">View all Shipped Orders</a>
                </li>
                <li>
                    <a id = "sosorry">Post Complaint</a>
                </li>
                <li>
                    <a id = "attaboy">Post Compliment</a>
                </li>
                <li>
                    <a href="">Contact Us!</a>
                </li>
                <li>
                  <a href="/logout">Sign Out</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper" >
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12" >
                        <div class="container" id="default_stuff">
                            <h1> Welcome back, <%= @user.name %></h1>
                        </div>

                        <form>

                        <div class="container" id="edit_profile">
                          <div class="form-group">
                        <h2>Profile Info</h2>

                        <p> Changing your name? Changing your email? We're cool with that...</p>

                        <form method="POST" action='/customer/profile'>

                          <label>Name:</label>
                          <input class ="form-control" type="text" name="name" value="<%= @user.name %>">

                          <label>Email:</label>
                          <input class ="form-control" type="text" name="email" value="<%= @user.email %>">

                          <p><input class="btn btn-primary" type="submit" value="Go!"></p>

                        </form>
                      </div>
                      </div>

                        <div class="container" id="edit_shipping">

                            <h2>Edit Shipping Deets</h2>

                            <form method="POST" action='/customer/shipping'>

                              <label>Address:</label>
                              <input type="text" name="address" value="<%= @user.address %>">

                              <label>City:</label>
                              <input type="text" name="city" value="<%= @user.city %>">

                              <label>Postal Code:</label>
                              <input type="text" name="postalcode" value="<%= @user.postalcode %>">

                              <label>Phone:</label>
                              <input type="text" name="phone" value="<%= @user.phone %>">

                              <p><input type="submit" value="Go!"></p>

                            </form>
                          </div>

                      <div class="container" id="edit_order">

                        <h1>Edit Order</h1>

                        <form method="POST" action='/customer/change_order'>

                          <input type="radio" name="order" value=1> Fancy Nancy<br>

                          <input type="radio" name="order" value=2> The Perfect Pair<br>

                          <input type="radio" name="order" value=3> The Miser<br>

                          <input type="radio" name="order" value=4> Dilettanten

                          <p><input type="submit" value="Go!"></p>

                        </form>
                      </div>

                      <div class="container" id="view_past_orders">

                      <h2>View Past Orders</h2>
                      <p><%= @user.name %></p>
                      <p><%  %></p>


                                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam nec metus at lectus pellentesque tincidunt eu ac erat. Vivamus volutpat risus eu nunc iaculis convallis. Morbi congue gravida diam, et venenatis est molestie id. Ut libero felis, sagittis a mi sed, varius lobortis lorem. Ut lobortis, nibh vitae tempor ultrices, sem dui mollis dui, id ultrices magna quam euismod lacus. Maecenas eu nulla quis massa ullamcorper porttitor. In consectetur hendrerit justo finibus elementum.

                  Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Donec in pretium lacus, eu tristique neque. Nunc viverra diam felis, non commodo eros semper quis. Fusce congue congue vestibulum. Suspendisse risus elit, euismod ac ex ac, consequat ultricies eros. Aenean interdum rhoncus velit, eget semper felis hendrerit sit amet. Aenean porta risus ex, eu convallis erat rutrum pharetra.

                  Nulla vitae nulla eget risus accumsan posuere. Donec sed augue eget dolor fringilla tincidunt. Nulla vel semper tellus. Quisque ac sollicitudin mi. Proin tristique ex elit, eget eleifend nisl rhoncus nec. Sed rutrum velit eget gravida tempus. Nullam vestibulum blandit odio, a scelerisque lacus. Ut ut molestie lacus. Nulla lobortis risus vel quam hendrerit rhoncus. Nunc et eros tempor, pellentesque dolor ac, condimentum massa. Vivamus ut purus orci. Nunc consequat sem nec consectetur convallis. Vivamus in auctor ligula. Cras in porttitor elit. Nullam accumsan viverra est, eget consectetur leo euismod a. Praesent non eros molestie, posuere odio sit amet, faucibus magna.


                  Etiam sit amet odio ut nunc mattis cursus. Proin odio tortor, commodo id luctus eget, pretium consequat risus. Integer sollicitudin quis quam et sollicitudin. Nullam non nisi vitae nibh efficitur finibus. Vivamus in turpis at lacus volutpat gravida non venenatis ante. Duis non lorem molestie, tempor massa vitae, consectetur neque. Donec ac nunc at odio fringilla suscipit sed vitae arcu. Etiam vel est lacus. Curabitur in lacus nibh. Pellentesque enim lacus, varius dapibus velit ut, rhoncus ullamcorper massa. In et luctus magna. Fusce suscipit dignissim lacus quis consectetur. Cras consequat rhoncus ligula sit amet fringilla.

                  Nunc facilisis elit sed nisl ultricies, eget congue erat mollis. Donec enim elit, fringilla sit amet pellentesque a, gravida rhoncus purus. Integer ac arcu id tortor tristique finibus. Praesent vitae metus a arcu viverra eleifend eu sed massa. Sed vitae lorem dolor. Pellentesque mollis enim in euismod molestie. Sed et nisi at nisl euismod bibendum. Fusce blandit quam a est ornare, rhoncus varius nunc eleifend. Cras non iaculis tortor, sed eleifend velit.

                  Cras accumsan pharetra nisi, eu volutpat enim tincidunt sit amet. Ut quis nunc blandit, vestibulum neque sed, facilisis urna. Vivamus bibendum ipsum ut tempor hendrerit. Quisque bibendum non quam ac vestibulum. Donec placerat dui leo, sit amet venenatis leo dictum eget. Nunc quis interdum tellus. Vestibulum ut ultrices ligula. Morbi in pharetra erat, sit amet commodo tortor.

                  Sed ac enim metus. Phasellus efficitur pharetra metus eget fermentum. Maecenas orci tortor, faucibus viverra felis eget, semper semper sem. Fusce porta, justo a placerat tempus, enim lectus tincidunt nisl, ac tempus metus magna quis nunc. Integer id odio felis. Praesent non felis eu sapien porttitor varius sit amet in ligula. Aliquam dolor orci, sollicitudin sit amet lacus et, consectetur pretium metus. In vitae finibus quam, eu imperdiet nisi. Vestibulum sit amet consequat enim, nec tempor neque. Suspendisse pulvinar in orci et fermentum.</p></div>
                </div>

                  <div class="container" id="post_complaint">

                      <h2>Post Complaint</h2>

                      <form action='/customer/complaint' method="post">
                      <textarea rows="4" cols="30" name="orig" placeholder="Enter text here.."></textarea>
                      <button type="submit">Submit</button>
                      </form>
                    </div>

                  <div class="container" id="post_compliment">


                    <h1>Have Something Nice to Say?</h1>

                    <p>This is fantastic news! Let us know what went well for you, and we'll let the whole world know :)</p>

                    <form action='/customer/compliment' method="post">
                    <textarea rows="4" cols="30" name="orig" placeholder="Enter text here.."></textarea>
                    <button type="submit">Submit</button>
                    </form>

                  </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->
