<section class="mbr-navbar mbr-navbar--freeze mbr-navbar--absolute mbr-navbar--transparent mbr-navbar--sticky mbr-navbar--auto-collapse" id="menu-41">
    <div class="mbr-navbar__section mbr-section">
        <div class="mbr-section__container container">
            <div class="mbr-navbar__container">
                <div class="mbr-navbar__column mbr-navbar__column--s mbr-navbar__brand">
                    <span class="mbr-navbar__brand-link mbr-brand mbr-brand--inline">

                        <span class="mbr-brand__name"><a class="mbr-brand__name text-white" href="#">SOCK-IT-UP</a></span>
                    </span>
                </div>

            </div>
        </div>
    </div>
</section>

<section class="mbr-box mbr-section mbr-section--relative mbr-section mbr-section--full-height mbr-section--bg-adapted mbr-parallax-background" id="header1-43" style="background-image: url(/assets/bigsock.jpg);">
    <div class="mbr-box__magnet mbr-box__magnet--sm-padding mbr-box__magnet--center-left">
        <div class="mbr-overlay" style="opacity: 0.5; background-color: rgb(23, 99, 150);"></div>
        <div class="mbr-box__container mbr-section__container container">
            <div class="mbr-box mbr-box--stretched"><div class="mbr-box__magnet mbr-box__magnet--center-left">
                <div class="container" id="login-container">
                  <br><br>
                  <h1 id="login_header" class="text-center">Almost Ready, just tell us about yourself:</h1><br><br>

                  <% if @user && @user.errors %>
                  <h2>Okay, something went wrong here: <%= @user.errors %>. That's embarrasing..</h2>
                  <% end %>

                  <form action='/customer/checkout' method="post" class="form-horizontal col-lg-8">


                    <input type="hidden" name="service_id" value="<%= @services_id %>">

                    <div class="form-group">
                      <label class="col-sm-2 col-md-4 control-label label_txt1">Name:</label>
                      <div class="col-sm-8">
                        <input name="name" class="form-control"  placeholder="Name (eg. John Doe)" value="<%= @fields[:name] if @fields && @fields[:name] %>">
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-sm-2 col-md-4 control-label label_txt1">Email:</label>
                      <div class="col-sm-8">
                        <input name="email" class="form-control"  placeholder="Email (eg. johndoe@mail.com)" value="<%= @fields[:email] if @fields && @fields[:email] %>">
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-sm-2 col-md-4 control-label label_txt1">Password:</label>
                      <div class="col-sm-8" >
                        <input name="password" type="password" class="form-control" placeholder="Password (Min 6 characters)" value="<%= @fields[:password] if @fields && @fields[:password] %>">
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-sm-2 col-md-4 control-label label_txt1"></label>
                      <div class="col-sm-8" >
                        <input name="password_confirmation" type="password" class="form-control" placeholder="Confirm Password" value="<%= @fields[:password_confirmation] if @fields && @fields[:password_confirmation] %>">
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-sm-2 col-md-4 control-label label_txt1">Mailing Address:</label>
                      <div class="col-sm-8">
                        <input name="address" class="form-control"  placeholder="Address" value="<%= @fields[:address] if @fields && @fields[:address] %>">
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-sm-2  col-md-4 control-label label_txt1">City:</label>
                      <div class="col-sm-8">
                        <input name="city" class="form-control"  placeholder="City" value="<%= @fields[:city] if @fields && @fields[:city] %>">
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-sm-2 col-md-4 control-label label_txt1">Postal Code:</label>
                      <div class="col-sm-8">
                        <input name="postalcode" class="form-control"  placeholder="Postal Code (eg. A1A 1A2)" value="<%= @fields[:postalcode] if @fields && @fields[:postalcode] %>">
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-sm-2 col-md-4 control-label label_txt1">Phone Number:</label>
                      <div class="col-sm-8">
                        <input name="phone" class="form-control"  placeholder="Phone (eg. 123-123-1234)" value="<%= @fields[:phone] if @fields && @fields[:phone] %>">
                      </div>
                    </div>
                    <br><br>
                    <div class="form-group">
                      <div class="col-sm-offset-2 col-sm-10">
                        <input type="submit" value="LETS MAKE FOOTWEAR HISTORY" class="btn btn-success center-block">
                      </div>
                    </div>
                  </form>
                </div>

            </div></div>
        </div>
    </div>
</section>
